* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
}

.contain {
  top: 0;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(cyan, aliceblue); */
  background-color: #030208;
  flex-direction: column;
}

#head {
  background-color: white;
  color: rgb(3, 2, 8);
  padding: 5px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

#head1 {
  flex: 3;
  padding: 10px;
}
.head2 {
  flex: 1;
  color: #000000;
  padding: 10px;
  margin: 1px;
}

.head2 :hover,
:active,
:link,
:visited {
  color: rgb(5, 5, 12);
  text-decoration: none;
}

.head2 :hover {
  color: rgba(76, 68, 116, 0.87);
  text-align: center;
}

#game {
  /* background-color: teal; */
  display: flex;
  flex-direction: column;
  color: aquamarine;
  font-size: 1.2em;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  flex: 2;
}

.text-1 {
  padding: 5px;
  font-size: larger;
  font-weight: bold;
  color: rgba(233, 221, 221, 0.87);
}

#guess-input {
  text-align: center;
  padding: 5px;
  font-size: 1.2em;
  background-color: rgba(233, 221, 221, 0.87);
}

.game-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile {
  flex: 1;
}

.profile img {
  height: 100%;
  width: 100%;
}
